Package: com.markieeee.MageFix
Name: MageFix
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: fix your springBoard messed up by Mage!
Maintainer: markieeee <marcus.d.ellison@gmail.com>
Author: markieeee <marcus.d.ellison@gmail.com>
Section: Utilites
