Package: com.markieeee.NoTrackpadDelay
Name: NoTrackpadDelay
Depends: mobilesubstrate
Version: 1.0-2
Architecture: iphoneos-arm
Description: no more trackpad delay on 3dtouch!!
Maintainer: markieeee <marcus.d.ellison@gmail.com>
Author: Frozen Penguin <roberthoffman1993@gmail.com>
Section: Tweaks
