Package: com.markieeee.Mage
Name: Mage
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: add custom options to SpringBoard!
Maintainer: markieeee <marcus.d.ellison@gmail.com>
Author: marcusde23 <marcus.d.ellison@gmail.com>
Section: Utilites
