Package: com.markieeee.Cylinder
Name: Cylinder
Depends: mobilesubstrate
Version: 1.0.6
Architecture: iphoneos-arm
Description: add animations to SpringBoard!!
Maintainer: markieeee <marcus.d.ellison@gmail.com>
Author: Reed Weichler <twitter.com/rweichler>
Section: Tweaks
