Package: com.markieeee.BioProtect
Name: BioProtect
Depends: mobilesubstrate
Version: 2.3-3
Architecture: iphoneos-arm
Description: Protect your apps with you fingerprint!
Maintainer: markieeee <marcus.d.ellison@gmail.com>
Author: Elias Limneos <twitter.com/limneos>
Section: Tweaks
